@page
@{
}
<div class="container">
    <section class=" py-5 py-md-6 mt-n4">
        <div class="row mb-3">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card-slide mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/Boiler01.jpg" alt="Portfolio thumb"><a class="card-body text-center" href="#Boiler">
                            <h3 class="h5 nav-heading mt-1 mb-2">Boiler</h3>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card-slide mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/Grillplatten01.jpg" alt="Portfolio thumb"><a class="card-body text-center" href="#Grillplatten">
                            <h3 class="h5 nav-heading mt-1 mb-2">Grillplatten</h3>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card-slide mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner1.jpg" alt="Portfolio thumb"><a class="card-body text-center" href="#GasBrenner">
                            <h3 class="h5 nav-heading mt-1 mb-2">GasBrenner</h3>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="Grillplatten" class=" py-5 py-md-6 mt-n6">
        <h2>Grillplatten</h2>
        <div class="row mb-3">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/Grillplatten01.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/Grillplatten02.png" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/Grillplatten03.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/Grillplatten04.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="GasBrenner" class=" py-5 py-md-6 mt-n6">
        <h2>GasBrenner</h2>
        <div class="row mb-3">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner1.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner2.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner3.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner4.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner5.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner6.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner7.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner8.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner9.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="Boiler" class=" py-5 py-md-6 mt-n6">
        <h2>Boiler</h2>
        <div class="row mb-3">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/Boiler01.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/Grillplatten01.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                <div class="card card-curved-body shadow card mx-1">
                    <div class="card-slide-inner">
                        <img class="card-img" src="img/Bilder/GasBrenner1.jpg" alt="Portfolio thumb">
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
